<template>
  <div class="index">
    <div class="h">
      <div class="head_wrap">
        <div class="head_img"></div>
        <div class="head_txt">{{name}}</div>
      </div>
      <div class="top">
        <div class="left">
          <img src="../assets/image/weizhi@2x.png" alt />
          <span>{{"安徽"}}</span>
        </div>
        <div class="right">
          <img src="../assets/image/设置@2x.png" alt />
        </div>
      </div>
    </div>
    <div class="b">
      <div class="line"></div>
      <div class="b_con">
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/产品查询@2x.png" alt />
            <span>产品查询</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/区域查询@2x.png" alt />
            <span>区域查询</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/库存查询@2x.png" alt />
            <span>库存查询</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/生产查询@2x.png" alt />
            <span>生产查询</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/账款查询@2x.png" alt />
            <span>账款查询</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/退补查询@2x.png" alt />
            <span>退补查询</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/报价日志@2x.png" alt />
            <span>报价日志</span>
          </div>
        </div>
        <div class="item">
          <div class="item_con">
            <img src="../assets/image/投诉建议@2x.png" alt />
            <span>投诉建议</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: "吴玉龙",
    };
  },
  methods: {},
};
</script>

<style lang="scss">
.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .h {
    height: 200px;
    background: #c2292b;
    position: relative;
    .top {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 15px;
      margin-top: 30px;
      .left {
        display: flex;
        align-items: center;
        height: 20px;
        img {
          width: 17px;
          height: 20px;
        }
        span {
          font-size: 16px;
          color: #fff;
          margin-left: 5px;
        }
      }
      .right {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .head_wrap {
      width: 90px;
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -45px;
      .head_img {
        height: 90px;
        border: 3px solid #fff;
        box-sizing: border-box;
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .head_txt {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
      line-height: 25px;
      color: #fff;
    }
  }
  .b {
    flex: 1;
    position: relative;
    .line{
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background: #f2f2f2;
      left: 50%;
      margin-left: -.5px;
    }
    .b_con{
      display: flex;
      flex-wrap: wrap;
    }
    .item {
      width: 50%;
      border-bottom: 1px solid #f2f2f2;
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .item_con {
        img {
          width: 36px;
          display: block;
          margin: 0 auto 10px;
        }
        span {
          color: #666;
          font-size: 14px;
        }
      }
    }
  }
}
</style>